2장/2장 구글RSS피드.json
{
  "name": "2. 구글RSS피드 copy",
  "nodes": [
    {
      "parameters": {
        "content": "# Target\n- 구글 메일로 전송하기",
        "height": 288,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -112
      ],
      "typeVersion": 1,
      "id": "d76232f8-d088-405f-b9b3-af1a1089e06b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Task\n- 5개의 뉴스를 가져와서 집계",
        "height": 288,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -112
      ],
      "typeVersion": 1,
      "id": "99a75e1a-19dc-486d-b410-29c6724254d3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Trigger",
        "height": 288,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -112
      ],
      "typeVersion": 1,
      "id": "8484bf62-db7f-4ed1-9a5a-7ee36f52a174",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c684f2fd-9c7d-457a-a287-6ec43bb3d4e5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=n8n&hl=ko&gl=KR&ceid=KR%3Ako",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "ab2ad956-49d8-42c3-a607-5dbe64614118",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "b76f1d68-8777-491b-8db2-3fcecf12cb91",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a34022fb-8f9f-4c69-90db-f57ae1fe9045",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "9f01c900-44a9-49e6-a0bb-f397683cea4a",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "13989a07-f68d-4ad0-9a19-1939bea6f1f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "e8f2df3d-8339-4a55-8692-1141a71136ae",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "snowgot@gmail.com",
        "subject": "={{ $today.format(\"DD\") }}의 뉴스",
        "emailType": "text",
        "message": "=오늘의 n8n뉴스\n\n{{ $json.data.map(item => `${item.title}\\n${item.link}`).join('\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "f0bae642-6cad-47ce-9306-eab2c8b251e3",
      "name": "Send a message",
      "webhookId": "9d6d18cd-422d-4ff2-83dc-153d52cb7807",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ly5kxK8IPxftRoDg",
          "name": "[지지플랩]임정_snowgot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88db99ac-21b0-4986-99db-17c025c52c3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c3df53d06f8e98b76dce975edff00f3b3bb54cd4a475a425a4806301153f7bf"
  },
  "id": "j4rZswXhL12THngg",
  "tags": []
}